<div id="workOrderHistoryHeader" data-role="header" data-position="fixed">
    <div class="ui-bar-a">
        <h1 id="<%= pageId %>" translate="yes" class="ui-title">Translated Page Title Goes Here</h1>
        <a id="btnDone" href="" class="signature-panel-button-done" data-role="button" data-mini="true" data-inline="true" data-theme="a">
            <%= Localization.getText( "done" ) %>
        </a>
    </div>
</div>