<div id="timeSheetListHeader" class="ui-bar-d">
    <div id="timeSheetToolbarArea" class="ui-grid-a">
        <div class="ui-block-a guided-search-block-width guided-search-block-header">
            <h2 id="guidedSearchHeader" class="guided-search-header" translate="yes">Guided Search</h2>
        </div>
        <div class="ui-block-b list-block-width list-block-header">
            <div id="timeSheetCloseOutDayArea" class="ui-grid-a">
                <div class="ui-block-a time-sheet-header-buttons" style="margin-top: -5px;">
                    &nbsp;
                    <a href="" id="closeOutDayButton" class="button-default" translate="yes" data-role="button" data-inline="true" data-theme="d"></a>
                </div>
                <div id="totalLaborHourDisplay" class="ui-block-b" style="margin-top:-10px; text-align:right; padding-right: 10px;">
                    <h3 id="totalLaborHoursHeaderDisplay" data-inline="true">
                        <span id="totalPaidHours" translate="yes"></span>&nbsp;<span id="totalHoursDisplay">0.00</span>&nbsp;&nbsp;
                        <span id="totalUnpaidHours" translate="yes"></span>&nbsp;<span id="totalUnpaidHoursDisplay">0.00</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
