<div style="text-align: center;">
    <h3 class="dialog-header"><%= Localization.getText( "technicianArrivedTitle" ) %></h3>
    <p class="clocking-dialog-text"><%= Localization.getText( "technicianArrivedPrompt" ) %></p>
    
    <hr /> 
    <!-- Button content area -->
    <div id="divButtons"class="ui-grid-a" style="margin-top: -10px;">     
        <div class="ui-block-a">
            <!-- No closes this dialog and does not change the clocking status -->
            <a href="" onclick="noHandler();" data-mini="false" data-role="button" data-inline="true" data-theme="a" style="width: 95%;">
            <%= Localization.getText( "No" ) %></a> 
        </div>
        <div class="ui-block-b"> 
            <!-- Yes calls back to UIFrame to change the clocking status from traveling to productive -->
            <a href="" data-role="button" data-mini="false" data-inline="true" data-theme="b" style="width: 95%;"
               onclick="save();"><%= Localization.getText( "yes") %></a>
        </div>
    </div>
</div>
<script>
    /**
     * Tapping No displays the terminate clocking dialog
     */
    function noHandler() {
        Dialog.closeDialog();
        debug && console.log( "technicianarriveddialog.noHandler: Displaying terminate clocking dialog" );
        JSONData.changeClockingStatus( "technicianStatusLoggedIn", null, null );
    } 

    /**
     * Save the chosen clocking status
     */
    function save() {
        Dialog.closeDialog();
        debug && console.log( "technicianarriveddialog.save: Changing clocking status to technicianStatusProductive using current time" );
        JSONData.saveClockingStatus( 'technicianStatusProductive', Util.getISOCurrentTime() );
        // If the current page is the manage work order repair details page, 
        // reload it after switching to productive.
        if ( UIFrame.getCurrentPageId() == "manageWorkOrderRepairDetailsPage" && ManageWorkOrderRepairDetails ) {
            ManageWorkOrderRepairDetails.populateLaborHoursList();
        }
    }
</script>
    