<div style="text-align: center;">
    <h3 class="dialog-header"><%= title %></h3>
    <p class="clocking-dialog-text"><%= prompt %></p>
    
    <hr /> 
    <!-- Button content area -->
    <div id="divButtons"class="ui-grid-a" style="margin-top: -10px;">     
        <div class="ui-block-a">  
            <!-- No closes this dialog and does not change anything -->
            <a href="" onclick="cancel();" data-mini="false" data-role="button" data-inline="true" data-theme="a" style="width: 95%;">
            <%= Localization.getText( "no" ) %></a>
        </div>
        <div class="ui-block-b">  
            <!-- Yes calls back to JSONData.saveClockingStatus to set the clocking status to "Logged In" -->
            <a href="" data-role="button" data-mini="false" data-inline="true" data-theme="b" style="width: 95%;"
               onclick="UIFrame.terminateClockingDialogSaveHandler();">
            <%= Localization.getText( "yes" ) %></a>
        </div>
    </div>
</div>
<script>
    /** 
     * Cancel the current terminate clocking attempt
     */
    function cancel() {
        Dialog.closeDialog( false );
        if ( window.localStorage.getItem( JSONData.LS_CLOSE_OUT_DATE ) ) {
            window.localStorage.removeItem( JSONData.LS_CLOSE_OUT_DATE );
        }
        if ( window.localStorage.getItem( JSONData.LS_CLOSE_OUT_DAY_ATTEMPT ) ) {
            window.localStorage.removeItem( JSONData.LS_CLOSE_OUT_DAY_ATTEMPT );
        }
        if ( window.localStorage.getItem( JSONData.LS_LOGOFF_IN_PROGRESS ) ) {
            window.localStorage.removeItem( JSONData.LS_LOGOFF_IN_PROGRESS );
            Dialog.showAlert( Localization.getText( "Logoff" ),
                              Localization.getText( "endCurrentClockingForLogOff"), null, "350px" );
        }
    }
</script>
