<div class="ui-bar-d" style="border: solid 1px black;margin-left: 20px;margin-right: 20px;">
    <div class="ui-grid-d" style="height: 30px;">
        <div class="ui-block-a manage-work-order-parts-list-header-block" style="width: 20%;">
            <p class="manage-work-order-parts-list-header-text" translate="yes" id="manufacturerLabel"></p>
        </div>
        <div class="ui-block-b manage-work-order-parts-list-header-block" style="width: 20%;">
            <p class="manage-work-order-parts-list-header-text" translate="yes" id="partNumberLabel"></p>
        </div>
        <div class="ui-block-c manage-work-order-parts-list-header-block" style="width: 20%;">
            <p class="manage-work-order-parts-list-header-text" translate="yes" id="description"></p>
        </div>
        <div class="ui-block-d manage-work-order-parts-list-header-block" style="width: 20%;">
            <p class="manage-work-order-parts-list-header-text" translate="yes" id="location"></p>
        </div>
        <div class="ui-block-e manage-work-order-parts-list-header-block" style="border-right: none;width: 19%;">
            <p class="manage-work-order-parts-list-header-text" translate="yes" id="quantityLabel"></p>
        </div>
    </div>
</div>