/*<![CDATA[*/

/* Base Font Size
------------------------------------------------ */
/*
http://clagnut.com/blog/348/
http://www.netmag.co.uk/zine/design-tutorials/20-pro-tips
http://www.astahost.com/info.php/sizes-webdesign-em-vs-px_t8926.html
http://www.evolt.org/article/Ten_CSS_tricks_you_may_not_know/17/60369/
http://tantek.com/log/2004/09.html#d07t1434

This makes one em or 100% roughly ten pixels (16 x 62.5% = 10).
Now you can equate pixel sizes to ems, 10px = 1.0em. Or 10px = 100%.
Joshua Logsdon is using 1.38 to be more precise with how font sizes seem to be rounding.
*/
html { font-size: 1.25em; } /* In IE 16px is the default font size, 1.25×16px = 20px. */
body { font-size: 50%; } /* Adjusts base font to 10px. */
html>body { font-size: 10px; } /* Overrides the above in all browsers except IE. */
body * { font-size: 100%; line-height: 1.22em; } /* IE hack for cascading body font-size. */

table { font-size: inherit; font: 100%; }
select, input, textarea { font-size: 99%; }

/*]]>*/