/*<![CDATA[*/

/* == METHODS - Accessible Hiding - http://simonwillison.net/2003/Sep/13/screenReaders/ & others
-------------------------------------------------------------------------------------------------- */
.hide {
	display: none;
}

.non-visual,
.access,
#skip-links,
#branding #branding-strapline,
#navigation-main li.home {
	position: absolute; /* for the benefit of IE5 Mac */
	left: -9999px;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

/* == METHODS - Image Replacement (Phark) http://phark.typepad.com/phark/2003/08/accessible_imag.html
-------------------------------------------------------------------------------------------------- */
.phark,
#branding h1 a {
	display: block;
	overflow: hidden;
	font-size: 0.0;
	line-height: 0.0;
	text-decoration: none;
	text-indent: -9999px;
	background: transparent no-repeat 0 0;
}

.clear-float {
	clear: both;
	overflow: hidden;
	height: 1px;
	margin-bottom: -1px;
	font-size: 0px;
	line-height: 1%;
	background: transparent;
}

/*
Necessary for a floated element's container. A floated element does not force its container's bottom edge down as the float is made taller; the float will hang down out of the container bottom without this fix.
Resources:
http://www.positioniseverything.net/easyclearing.html
http://www.webtoolkit.info/css-clearfix.html

http://www.positioniseverything.net/explorer/dup-characters.html
It turns out that this duplicating characters bug can be triggered by other things than just HTML comments. Phil Baines points out that any elements given the style {display: none} will also induce the bug. 
*/
.clear-fix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clear-fix {display: inline-block;}/* Fixes IE/Mac */
html[xmlns] .clear-fix {display: block;}
* html .clear-fix {height: 1%;} /*  ,* html .clear-fix * */
/* MacIE5 Commented Backslash Hack - Begin hiding CSS from MacIE5  \*/
.clear-fix { display: block; }
/* MacIE5 Commented Backslash Hack - End */

/*]]>*/