/*
 * leadingedjemobile.css
 * CSS stylesheet for the Crown SFA mobile application
 */

/* General styles */
.nopadding {
    padding: 0px 0px 0px 0px;
}

.nomargin {
    margin: 0px 0px 0px 0px;
}

/* Default text for an empty input */
.default-text-active {
    color: #a1a1a1;
    font-style: italic;	
}

/* footer displayed on all pages except login page */
.footer-text-left, .footer-text-right {
    -webkit-margin-before: .7em;
    -webkit-margin-after: 0em;
    text-shadow: none;
}
.footer-icon-left {
    position: absolute;
    top: 6px;
    left: 5px;
}
.footer-text-left {
    position: absolute;
    top: 0px;
    left: 40px;    
}
.footer-text-right {
    margin-right: 10px;    
}

.ui-listview-filter {
/*     border-left: solid black 1px; */
}

/* Override jQM styles for page loading message text */
.ui-loader-verbose {
    width: 400px;
}
.ui-loader-verbose h1 { 
    font-size: 20px; margin: 0; text-align: center;
}
.ui-loader-textonly {
    margin-left: -215px;
}

/* Set borders on list items */
li.ui-li-divider {
    border-left: solid 1px black;
    border-right: solid 1px black;
}
li.ui-btn {
    border-left: solid 1px black;
    border-right: solid 1px black;
}
li#timeItem {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

/* Align / space the login page so its centered horizonally */
.ui-grid-b > .login-spacer-block {
    width: 30%;
}
.ui-grid-b > .login-center-block {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Custom button icons */
.ui-icon-crownsfa-wrench {
    background-image: url("../images/wrench-button-icon.png");
}

/* Positions blocks on pages with a dual header */
.block-div-pos {
    position: absolute;
    top: 92px;
    bottom: 40px;
}

/* Style for the non-modal button displays */
.button-default {
	font-size: 18px;
	min-width: 150px;
}
.dialog-text {
	padding: 10px;
	text-align: justify;
	font-size: 18px;
}
/* Style the block divs on the customer equipment page */
.customer-equipment-block-div-pos {
	position: absolute;
    top: 230px;
    bottom: 40px;
}

/* Style the block divs on the equipment detail page */
.equipment-detail-block-div-pos {
    position: absolute;
    top: 238px;
    bottom: 40px;
    width: 100%;
}

/* Style the work history list on the equipment detail page */
.equipment-detail-work-list {
	margin-top: -215px;
}

/* Style the open work list on the equipment detail page */
.equipment-detail-open-list {
	margin-top: 30px;
}

/* Style the blocks on the home page */
.block-div-home-page {
    margin-top: 15px;
}

/* Style the list block on the close out day page */
.block-div-close-out-day {
	position: absolute;
    top: 48px;
	border: none;
	width: 100%;
	background-color: rgb(204,204,204);
}

/* Style for the clear button on the Close Out Day Signature form */
.clearButton {
    width: 100px;
    font-size: 16px;
	margin-top: 10px;
}

/* Style for the review signature buttons on the review pages */
.reviewSignatureButton {
    width: 150px;
    font-size: 16px;
    margin-top: 10px;
}

/* The style for a toolbar that contains only buttons */
.button-toolbar {
	height: 15px;
	
	padding-top: 0px;
	text-align: left;
}

/* Styler for the costumer equipment buttons */
.customer-equipment-button {
	width: auto;
}

.equipment-details-button {
	width: auto;
}

/* Style the signature block of close out day */ 
.block-div-signature {
    position: relative;
    height: 360px;
    width: 100%;
    border-top: none;
	background-color: rgb(204,204,204);
}

/* Style the signature block of close out day */ 
.manage-work-order-signature-div {
    position: relative;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(204,204,204);
}

/* Signature div padding style for the close out day page */
.signature-div-padding {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

/* Scrollable div containing of items (like work orders) */
.list-block-div {
    border-style: none none none none;
    border-width: 1px;
/* Turning this on should allow a div to be independently scrollable */    
/*     overflow: auto; */
    padding: 2px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    right: 0px;
}

/* Guided search block div */
.guided-search-block-div {
    border-style: none none none none;
    border-width: 1px;
/*     overflow: hidden; */
    padding: 14px 0px 0px 0px;
    margin: 0px;
    left: 0px;
}

/* The X image in the guided search items */
.guided-search-item-image {
	float: right;
	margin-top: -5px;
	width: auto;
	height: auto;
}

.guided-search-clear-button {
    right: 1px;
    border: 0px;
    border-style: none;
}

/* Hidden item div to hold filtering values that may not be displayed */
.list-item-hidden {
	display: none;	
}

/* Home page style */
.home-page-crown-icon {
    width: 145px;
    height: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
}

/* Common styles for icon bars */
.home-page-iconbar-landscape, .home-page-iconbar-portrait, .manage-work-order-icon-bar {
    background-color: rgb(51,51,51);
    position: absolute;
    top: 50px;
    left: 0px;
}

/* Home page icon bar in landscape mode */
.home-page-iconbar-landscape {
	padding-top: 70px;
	position: absolute;
    width: 20%;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    
}

/* Home page icon bar in portrait mode */
.home-page-iconbar-portrait {
    width: 100%;
    height: 11%;
}

/* Style for the individual icons in a landscape icon bar*/
.home-page-item-icon-landscape {
    padding-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style for the individual icons in a portrait icon bar*/
.home-page-item-icon-portrait {
	margin-top: 5px;
	text-align: center;
}

/* Style for the icon text in the icon bar */
.icon-bar-text-content {
    position: absolute;
    
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
}

/* Style for the icon text in the home page icon bar */
.icon-bar-text {
    text-shadow: none;
    font-size: 11pt;
    -webkit-margin-before: .25em;
    -webkit-margin-after: .5em;
    
    color: #E6E6E6;
}

/* Header above the home page lists */
.home-page-header-portrait, .home-page-header-landscape {
    height: 40px;
/*     border-left: solid 1px black; */
    text-align: center;
}

/* Header above the home page work orders */
#homePageWorkOrderHeader {
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}
#homePagePlannedMaintenanceHeader {
    border-top: solid 1px black;
    border-right: none;
    border-bottom: solid 1px black;
    border-left: none;
}

/* Header above the home page work orders in portrait */
.home-page-header-portrait {
	margin-top: 0px;
}

/* Style to center the text in the home page list headers */
.home-page-list-header {
    display: inline-block;
    margin-top: 5px;
}

/* Style for the customer equipment list header */
.customer-equipment-list-divider, .van-inventory-list-header {
    margin-top: -15px;
    text-align: center;
}

/* Style for the header buttons in a signature panel */
.signature-panel-button-cancel {
	position: absolute;
	left: 15px;
	top: 5px;
	
	width: 75px;
}
.signature-panel-button-done {
    position: absolute;
    right: 15px;
    top: 5px;
    
    width: 75px;
}

/* Style for the timesheet and closeoutday list dividers */
.inventory-list-item {
	display: inline-block;
}
.time-sheet-list-item {
	display: inline-block;
	text-align: center;
}

/* Style for the inventory list header items */
.inventory-list-header-item {
	text-align: center;
    display: inline-block;
    margin-top: 8px;
}

/* Style for a container that splits the entire list area in two */
.div-list-container {
    position: absolute;
    background-color: #F9F9F9;
}

/* Style for the landscape home page lists */
.div-list-container-wo-landscape, .div-list-container-pm-landscape {
    width: 40%;
    margin-top: -22px;
    top: 50px;
    bottom: 40px;
}

/* Style for the portrait home page lists */
.div-list-container-wo-portrait, .div-list-container-pm-portrait {
    width: 50%;
    margin-top: 11%;
    top: 50px;
    bottom: 40px;
}

/* Style for the home page landscape work order list */
.div-list-container-wo-landscape {
	left: 20%;
}

/* Style for the portrait work order list */
.div-list-container-wo-portrait {
    left: 0%;
}

/* Style for the home page landscape planned maintenance list */
.div-list-container-pm-landscape {
	width: 40%;
    right: 0;
}

/* Style for the portrait planned maintenance list */
.div-list-container-pm-portrait {
    left: 50%;
}

/* Home button size and position */
#homeButton {
    height: 31px;
    width: 31px;
    position: absolute;
    left: 4px;
    top: 7px;
}
/* Pad the inner home icon so that it's centered */
#homeButton > .ui-btn-inner {
    padding: 4px 4px 2px 4px;
}

/* Tasks menu size and position */
#tasksMenuDiv > .ui-select, #tasksMenuDiv > a.ui-select {
    width: 150px;
    position: absolute;
    left: 50px;
    top: -8px;
}

#homeIcon {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Messages icon on the header */
#messagesIcon {
    position: absolute;
    right: 80px;
    top: 12px;
}

/* Toolbox icon on the header */
#toolboxIcon {
    position: absolute;
    right: 20px;
    top: 12px;
}

/* Prevent underline under icon badge number */
a.headerIcon {
    text-decoration: none;
}

/* Common styles for header above guided search block */
#guidedSearchHeader, #guidedJobsSearchHeader {
    height: 40px;
    margin: 0px 0px 0px 0px;
    padding: 6px 0px 0px 15px;
    border-right: solid 1px black;
}

/* Only applies to guided search block that is direct descendent of grid */
.ui-grid-a > .guided-search-block-width {
    width: 30%;
    min-width: 200px;
}

/* Only applies to list block that is direct descendent of grid */
.ui-grid-a > .list-block-width {
    width: 70%;
}

/* Common styles for additional header blocks */
.ui-grid-a > .list-block-header,
.ui-grid-a > .guided-search-block-header,
.ui-grid-a > .manage-work-order-header-status,
.ui-grid-a > .manage-work-order-parts-add,
.ui-grid-a > .manage-work-order-parts-quick-add {
    border-bottom-style: none;
}

/* Work order status displayed in additional header on manage work order pages */ 
.ui-grid-a > .manage-work-order-header-status {
    width: 25%;
    min-width: 400px;
    height: 42px;
    border-right: solid 1px black;
    padding: 8px 10px 0px 10px;
}

/* Manage Work Order Parts - Left portion of sub header containing add button */ 
.ui-grid-a > .manage-work-order-parts-add {
    width: 2%;
    min-width: 30px;
    height: 42px;
    border-right: solid 1px black;
    padding: 4px 5px 0px 5px;
}

/* Manage Work Order Parts - Left portion of sub header containing add button */ 
.ui-grid-a > .manage-work-order-parts-quick-add {
    height: 42px;
    width: 90%;
    display: inline-block;
    padding: 1px 0px 0px 0px;
}

/* Manage Work Order Parts - div blocks inside parts list header */ 
.ui-grid-d > .manage-work-order-parts-list-header-block {
    border-right: solid 1px black;    
    height: 30px;
}

/* Manage Work Order Parts - div blocks inside labor list header */ 
.ui-grid-d > .manage-work-order-labor-list-header-block {
    border-right: solid 1px black;    
    height: 30px;
}

/* Manage Work Order Parts - div blocks inside parts list item */ 
.ui-grid-d > .manage-work-order-parts-list-block {
    border-right: solid 1px black;    
    height: 40px;
}

/* Manage Work Order Labor - div blocks inside labor list item */
.ui-grid-d > .manage-work-order-labor-list-block {
    border-right: solid 1px black;    
    height: 30px;
}

/* Div for manufacturer select inside manage work order parts header */
.manage-work-order-mfg-select-div {
    display: inline-block;
    margin: 0px;
    position: relative;
    top: -2px;
    width: 100px;
}

/* Div for billing folder select inside manage work order labor page */
.manage-work-order-billing-folder-div {
    display: inline-block;
    margin: 0px;
    position: relative;
    top: 0px;
    width: 200px;
}

/* Div for plus/minus buttons next to part quantity on Manage Work Order parts page */
.manage-work-order-part-qty-button-div {
    display: inline-block;
    margin: 0px;
    position: relative;
    top: -2px;
    left: -8px;
}

/* Text inside header that appears above the parts list on the Manage Work Order parts page */
.manage-work-order-parts-list-header-text {
    display: inline-block;
    font-size: 11pt;
    font-weight: bold;
    -webkit-margin-before: .5em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 5px;
    -webkit-margin-end: 0px;
}

/* Text inside header that appears above the labor list on the Manage Work Order labor page */
.manage-work-order-labor-list-header-text {
    border-right: solid 1px black;
    display: inline-block;
    font-size: 11pt;
    font-weight: bold;
    height: 23px;
    padding-left: 5px;
    padding-top: 7px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* List item inside the parts list on the Manage Work Order parts page */
.manage-work-order-parts-list-item {
    padding: 0em;
}

/* List item inside the labor list on the Manage Work Order labor page */
.manage-work-order-labor-list-item {
    height: 30px;
    padding: 0em;
}

.manage-work-order-repair-navbar-button {
    font-size: 14pt;
}

/* Text inside parts list item on the Manage Work Order parts page */
.manage-work-order-parts-list-item-text {
    display: inline-block;
    font-size: 12pt;
    font-weight: normal;
    -webkit-margin-before: .75em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 5px;
    -webkit-margin-end: 0px;
}

/* Style for the list dividers on the inventory page */
.inventory-list-divider-text {
	position: absolute;
	top: 0px;
	text-align: center;
}

/* Style for the list divider item description on the inventory page */
.inventory-list-divider-description {
	margin-left: 2%;
    margin-top: 25px;
    width: 25%;	
    text-align: center;
}

/* Style for the list stock areas */
.inventory-list-stock-area {
	display: inline-block;
	text-align: left;
}

/* Manage work order parts page: divs used inside Labor Hours list item to separate blocks */
.manage-work-order-labor-list-item-div {
    border-right: solid 1px black;
    display: inline-block;
    height: 30px;
    padding: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* Manage work order parts page: parapraphs used inside Labor Hours list item to display values */
.manage-work-order-labor-list-item-text {
    display: inline-block;
    font-size: 12pt;
    margin: 0px;
    padding-left: 5px;
    padding-top: 7px;
    text-shadow: none;
    -webkit-margin-before: 0em;
}


/* Manage work order header status icon */
#manageWorkOrderHeaderStatusIcon {
    border-style: none;
    vertical-align: top;
}

/* Manage work order header parts on order icon */
#manageWorkOrderHeaderPartsOnOrderIcon {
    border-style: none;
    padding-right: 10px;
    float: right;
}

/* Drop down menu on manage work order customer review page listing work orders eligible for signature */
#manageWorkOrderSelectDiv {
    float: right;
    display: inline;
    margin-top: 0px;
    margin-right: 5px;
}

/* Status portion of manage work order additional header */
.manage-work-order-header-status-text {
    margin: 0px 0px 0px 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    border-bottom-style: none;
    display: inline-block;
}

/* Manage work order icon bar */
.ui-grid-a > .manage-work-order-icon-bar {
    height: 100%;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
    top: 94px;
    width: 150px;
}

/* Manage work order icon bar text */
.manage-work-order-icon-inactive-text, .manage-work-order-icon-active-text {
    text-shadow: none;
    font-size: 11pt;
    -webkit-margin-before: .25em;
    -webkit-margin-after: .5em;
}
.manage-work-order-icon-inactive-text {
    color: #E6E6E6;
}
.manage-work-order-icon-active-text {
    color: #FFFFFF;
    font-weight: bold;
}

/* Manage work order buttons in additional header */
.manage-work-order-header-buttons {
    padding: 6px 0px 0px 4px;
}

/* Style for the van inventory add button */
.van-inventory-add-buttons {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Time Sheet buttons in additional header */
.time-sheet-header-buttons {
	padding: 6px 0px 0px 4px;
}

/* Manage work order content block */
.ui-grid-a > .manage-work-order-content {
    background: #EEEEEE;
    border-style: none;
    margin-top: 10px;
    height: 100%;
    width: auto;
    overflow: hidden;
    float: none;
    position: absolute;
    top: 92px;
    right: 0px;
    bottom: 40px;
    left: 150px;
}

/* Inspections / fault list bar on the manage work order diagnostics page */
.manage-work-order-inspections-bar {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    padding-left: 10px;
}

/* Manage work order headings */
.manage-work-order-heading {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-size: 13pt;
    font-weight: bold;
    text-shadow: none;
}

/* Manage work order text */
.manage-work-order-text {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-size: 11pt;
    text-shadow: none;
}

/* Manage work order read only values on parts and repair details pages */
.manage-work-order-readonly-value {
    display: inline-block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-size: 12pt;
    font-weight: normal;
    text-shadow: none;
}

/* Text block at the bottom of manage work order overview that
   contains date and descriptive text for the work order */
.manage-work-order-overview-text-block {
    margin: .4em .4em .4em 10px;
}

/* Manage work order headings */
.manage-work-order-form-label {
    -webkit-margin-before: 5px;
    -webkit-margin-after: 2px;
    font-size: 12pt;
    font-weight: bold;
    text-shadow: none;
}

/* Inspections heading on manage work order diagnostics page */
#manageWorkOrderInspectionsTitle {
    -webkit-margin-before : .3em;
    -webkit-margin-after : .3em;
}

/* Parts list on the manage work order parts page */
#manageWorkOrderPartsList {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* Parts list on the manage work order parts page */
#manageWorkOrderLaborList {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* Text displayed inside the manage work order parts header */
.manage-work-order-parts-header-text {
    margin: 0px 0px 0px 0px;
    -webkit-margin-before: .6em;
    -webkit-margin-after: 0em;
    border-bottom-style: none;
    display: inline-block;
    font-size: 14pt;
}

/* Manage work order labor list header */
.manage-work-order-labor-list-header {
    height: 30px;
    margin: 0px 0px 0px 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/* Text displayed inside the manage work order labor header */
.manage-work-order-labor-header-text {
    margin: 0px 0px 0px 0px;
    -webkit-margin-before: .7em;
    -webkit-margin-after: 0em;
    border-bottom-style: none;
    display: inline-block;
    font-size: 13pt;
}

/* Text displayed inside the manage work order banners */
.manage-work-order-banner-text {
    margin: 0px 0px 0px 0px;
    -webkit-margin-before: .3em;
    -webkit-margin-after: 0em;
    border-bottom-style: none;
    font-size: 14pt;
}

/* Quick add part input boxex on Manage Work Order parts page */
#quickAddPartNumber, #quickAddPartQuantity, #desiredQuantity {
    display: inline-block;
    position: relative;
    top: -3px;
}
#quickAddPartNumber {
    width: 150px;
}
#quickAddPartQuantity, #desiredQuantity {
    width: 40px;
}

/* List blocks that are docked to the right of a parent div */
.ui-block-right {
	float: right;
}

.ui-block-c-customer {
	position: absolute;
	top: 8px;
}
.list-block-header-padding {
    padding: 5px 0px 0px 4px;
}

/* Style for the purchase button in the header of the van inventory page */
.van-inventory-purchase-button {
	position: absolute;
}

#workOrderListHeader, #pmsDueListHeader, #timeSheetListHeader, #customersListHeader {
    padding: 0px;
    height: 40px;    
}

/* Heading that appears at the top of the work order
   list when new work orders are waiting to be accepted */
.work-order-list-new-banner {
    margin: 0px;
    padding: 2px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    text-align: center;
    text-shadow: none;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #DF0101;
}

/* Style for H3 tag used as heading inside each work order item block */
.work-order-list-item-heading {
    margin: 0px 0px .5em 0px;
    font-size: 14pt;
}

/* Style for paragraph text inside a work order item */
p.work-order-list-item-text {
    font-size: 11pt;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.work-order-list-item {
    border: none;
}
p.customer-equipment-list-item-text {
    font-size: 12px;
}

.van-inventory-list-item {
    text-align: center;
    display: inline-block;
    border-left: solid 1px black;  
}

/* Heading inside work order list item text block */
.work-order-list-item-text-block-heading {
    font-size: 11pt;
    font-weight: bold;
    font-style: italic;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/* Text block at the bottom of each work order list item that
   contains descriptive text for the item */
.work-order-list-item-text-block {
    margin: .4em .4em .4em 40px;
}

/* Style for the home page pm customer count list item*/ 
.planned-maintenance-customer-count {
    font-size: 20px;
    margin-left: 20px;
}

#listSortSelectDiv {
    float: right;
    display: inline;
    margin-top: 0px;
    margin-right: 5px;
}

#workOrderList, #plannedMaintenanceList, #pmsDueList, #guidedSearchList, #guidedSearchListParts, #timeSheetList, #customersList, #customerEquipmentList, #equipmentDetailList, #partsList, #vanInventoryList {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 42px;
}

#workOrderList, #plannedMaintenanceList, #pmsDueList, #timeSheetList, #customersList, #customerEquipmentList, #equipmentDetailList, #partsList, #vanInventoryList {
    border: none;
}

#pmsDueList, #timeSheetList, #customersList, #customerEquipmentList, #equipmentDetailList, #partsList, #vanInventoryList {
	margin-top: 0px;
}

.list-item-padding {
	padding-left: 5%;
}

/* Style for the customer display in the customer equipment screen */
.customer-equipment-customer-border, .equipment-detail-equipment-border {
    border-bottom: solid 1px black;
}

/* Styles for the work order details page */
.equipment-image-block {
    width: 20%;
}

.equipment-info-block {
    width: 80%;
}

.info-title {
    font-weight: bold;
    font-size: 16px;
}

.info-paragraph {
    font-size: 12px;
}

.info-paragraph, .info-title {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* The equipment icon in pmduelistitem */
.equipment-icon {
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 10px 0;
}

/* The credit and globe icons in pmduelistdivider */ 
.credit-icon, .globe-icon {
	width: 30px;
    height: 30px;
    position: relative;
    top: 15px;
    left: 0px;
}

.globe-icon-large {
	width: 40px;
    height: 40px;
    position: relative;
    top: 16px;
    left: 0px;
    margin-right: 5px;
}

.list-item-icon-text {
    margin-top: -45px;
	margin-left: 50px;
}

/* The expand icon in pmduelistdivider */ 
.collapse-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50px;
	left: 150px;
}

/* Simple dialog */
.ui-simpledialog-body-p {
	font-size: 18px;
	margin-left: 20px;
}

/* Popup menu styles */
.popup-menu-header {
    padding: 0px;
    margin: 2px;
    text-align: center;
}

/* Popup menu item styles */
.popup-menu-item, .popup-menu-disabled-item {
    font-size: 16px;
}
.popup-menu-disabled-item {
    color: #B0B0B0;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

/* Dialog header style */
.dialog-header {
    background-color: rgb(51,51,51);
    color: #FFFFFF;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
    text-shadow: none;
}
/* Dialog body texts */
.clocking-dialog-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16pt;
}
/* Dialog text for parts dialogs */
.parts-dialog-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
    text-align: justify;
}

/* Text inside outside purchase dialog part list header */
.outside-purchase-list-header-text {
    padding-top: 5px; 
    padding-bottom: 5px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/* Text above textarea on work order review dialog */
.work-order-review-dialog-header-text {
    padding-top: 5px; 
    padding-bottom: 5px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/* Signature line at the bottom of the review pages */
.manage-work-order-review-signature-text {
    display: inline-block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-size: 14pt;
    font-weight: bold;
    text-shadow: none;
}

a.manage-work-order-review-signature-text:HOVER, a.manage-work-order-parts-list-item-text:HOVER {
    background-color: #fff365;
}

/* Label text on the e-mail address update dialog */
.email-address-update-dialog-label-text {
    display: inline-block;
    -webkit-margin-before: .5em;
    -webkit-margin-after: 0em;
    font-size: 14pt;
    font-weight: bold;
}
