<div style="text-align: center;">
    <div style="text-align: center;">
        <ul data-role="listview" style="margin-top: -10px;">
            <%= contactsString %>
        </ul>
    </div>
    
    <hr style="margin-top: -18px;" />
    
    <hr /> 
    <!-- Button content area -->
    <div id="divButtons"class="ui-grid-a" style="margin-top: -10px;">     
        <div class="ui-block-a">
            <!-- No closes this dialog and does not change anything -->
            <a href="" data-mini="false" data-role="button" data-inline="true" data-theme="a" style="width: 95%;" onclick="cancel();">
                <%= Localization.getText( "cancel" ) %></a><br/>
        </div>
        <div class="ui-block-b" style="padding-right: 5px;">
            <!-- Yes calls back to JSONData.saveClockingStatus to set the clocking status -->
            <a href="" data-role="button" data-mini="false" data-inline="true" data-theme="b" style="width: 95%;"
                onclick="save();"><%= Localization.getText( "save" ) %></a>
        </div>
    </div>
</div>
<script>
    /**
     * Cancel the current customerreviewemailcontacts attempt
     */
     function cancel() {
        Dialog.closeDialog();
     }
     
     /**
      * Update the respective email field
      */
      function save() {
          Dialog.closeDialog();
      }
</script>