<div style="text-align: center; padding-bottom: 10px;">
    <!-- Title text area -->
    <h3 class="dialog-header"><%= title %></h3>
    
    <!-- Body text area -->
    <p class="dialog-text"><%= body %></p>
    
</div>