<div id="selectWorkOrderContactDialog" style="text-align: center;">
    <h3 class="dialog-header"><%= Localization.getText( "contactLabel" ) %></h3>
    <p class="dialog-text" style="text-align: center;"><%= dialogPrompt %></p>

    <div data-role="fieldcontain" style="margin-left: 10px; margin-right: 10px;">
        <select id="contactList" data-mini="false"
                data-bind="options: contactList,
                           optionsText: function( item ) {
                               return item.name + ' - ' + item.number;
                           },
                           value: selectedContact">
        </select>
    </div>

    <hr/>    
    <div id="divButtons"class="ui-grid-a" style="margin-top: -10px;">
        <div class="ui-block-a">
            <!-- Cancel closes the dialog and cancels the addition of the part to the work order -->
            <a href="" onclick="cancel();" data-mini="false" data-role="button" data-inline="true" data-theme="a"
               style="width: 95%;"><%= Localization.getText( "cancel" ) %></a>
        </div>
        <div class="ui-block-b">
            <!-- OK saves the contact selection -->
            <a href="" data-role="button" data-mini="false" data-inline="true" data-theme="b" style="width: 95%;"
               data-bind="click: saveSelectedContact"><%= Localization.getText( "ok" ) %></a>
        </div>
    </div>
</div>
<script>
    /**
     * Cancel closes this dialog
     */
    function cancel() {
        debug && console.log( "selectworkordercontactdialog.cancel: Canceling contact selection" );
        Dialog.closeDialog();
    }
</script>