<li data-role="list-divider">
    <h3 class="inventory-list-divider-text" style="left: 3%;width: 25%;"><%= product.productCode %></h3> 
    <h3 class="inventory-list-divider-text" style="left: 27%;width: 25%"><%= product.manufacturer %></h3>
    <h3 class="inventory-list-divider-text" style="left: 52%;width: 45%"></h3>
    
    <h3 class="inventory-list-divider-description"><%= product.description %></h3>
</li>
