<div id="testNewWorkOrderDialog" style="display: none;">
    <input type="checkbox" name="partsOnly" id="partsOnly"/>
    <select id="orderType">
        <option value='0'>WO from Equipment</option>
        <option value='1'>PM</option>
        <option value='2'>FMPM</option>
        <option value='3'>FW</option>
        <option value='4'>WO with no Equipment</option>
    </select>
    <textarea id="txtDescription"></textarea>
    <select id="segmentTitle">
        <option value='0'>Running</option>
        <option value='1'>Down</option>
    </select>
</div>