<div style="text-align: center;">
    <div style="text-align: center;">
        <ul data-role="listview" style="margin-top: -10px;">
            <%= additionalContactsString %>
        </ul>
    </div>
    
    <hr style="margin-top: -18px;" />
    
    <a id="btnOkay" href="" data-role="button" data-inline="true" data-theme="b" onclick="UIFrame.closeActiveDialog()" style="width: 90%;margin-bottom: 10px;">
        <%= Localization.getText( "okay" ) %>
    </a>
</div>