<!-- Dialog EJS -->
<div style="text-align: center; padding-bottom: 10px;">
    <!-- Title text area -->
    <h3 class="dialog-header"><%= title %></h3>

    <!-- Body text area -->
    <p class="dialog-text"><%= body %></p>
    
    <hr />
    <!-- Button content area -->
    <div id="divButtons" style="margin-top: -10px;margin-bottom: -10px;">
        <a id="btnOkay" href="" class="button-default" data-role="button" data-inline="true" data-theme="b" style="width: 95%">
            <%= Localization.getText( "okay" ) %>
        </a>
    </div>
</div>