<div id="footer" data-role="footer" data-position="fixed" data-id="foot" style="height: 40px;">
    <span style="float: left">
        <a class="footer-icon-left" id="clockIcon" href=""><img class="icon-button" src="images/clock-white-up.png"/></a>
        <h4 class="footer-text-left" id="currentTechnicianStatus">Current Technician Status</h4>
    </span>
    <span style="float: right">
        <h4 class="footer-text-right" id="currentWorkOrderStatus" style="float:left"></h4>
        <a href="" id="footerViewButton" data-translate="yes" data-role="button" data-theme="c" style="float:right; bottom: -5px; margin-right: 15px;">View</a>
    </span>
</div>
