<div id="header" data-role="header" data-position="fixed">
    <div class="ui-bar-a">
        <a id="home" href="" onclick="UIFrame.navigateToPage('index.html');" 
           data-role="button" data-mini="true" data-icon="home" data-theme="b"
           style="position:absolute; top: 5px; left: 15px;"><%= Localization.getText( "home" ) %></a>
        <h1 id="<%= pageId %>" class="ui-title"><%= Localization.getText( "appTitle" ) + " - " + Localization.getText( pageId ) %></h1>
        <p id="onlineIndicator"
           style="color: white; font-weight: bold; font-size: 16px; position:absolute; top: 13px; right: 15px; -webkit-margin-before: 0em; -webkit-margin-after: 0em;">ONLINE</p> 
    </div>
</div>
