<div id="workOrderListHeader" class="ui-bar-d">
    <div class="ui-grid-a">
        <div class="ui-block-a guided-search-block-width guided-search-block-header">
            <h2 id="guidedSearchHeader" data-translate="yes">Guided Search</h2>
        </div>
        <div class="ui-block-b list-block-width list-block-header">
            <div class="list-block-header-padding">
                <a href="" id="refresh" data-translate="yes"
                   data-role="button" data-icon="refresh" data-mini="true" data-inline="true" data-theme="d"></a>
                <div data-role="fieldcontain" id="listSortSelectDiv">
                    <select id="sortList" data-native-menu="<%= UIFrame.USE_NATIVE_SELECT %>" data-mini="true" data-inline="true" data-theme="d">
                        <option class="sortCriteria" id="sortByCustomer" data-translate="yes" value="sortByCustomer"></option>
                        <option class="sortCriteria" id="sortByOldest" data-translate="yes" value="sortByOldest"></option>
                        <option class="sortCriteria" id="sortByNewest" data-translate="yes" value="sortByNewest"></option>
                        <option class="sortCriteria" id="sortByNumber" data-translate="yes" value="sortByNumber"></option>
                    </select>
                </div>
            </div>
        </div>    
    </div>
</div>
