<div id="timeSheetListHeader" class="ui-bar-d">
    <div id="timeSheetToolbarArea" class="ui-grid-a">
        <div class="ui-block-a guided-search-block-width guided-search-block-header">
            <h2 id="guidedSearchHeader" translate="yes">Guided Search</h2>
        </div>
        <div id="timeSheetCloseOutDayArea" class="ui-block-b list-block-width list-block-header">
            <div class="time-sheet-header-buttons">
                <a href="" id="closeOutDayButton" class="button-default" translate="yes" data-role="button" data-inline="true" data-theme="d"></a>
            </div>
        </div>    
    </div>
</div>
