<div id="customersListHeader" class="ui-bar-d">
    <div class="ui-grid-a">
        <div class="ui-block-a guided-search-block-width guided-search-block-header" style="margin-left: 1px;">
            <h2 id="guidedSearchHeader" translate="yes">Guided Search</h2>
        </div>
        <div class="ui-block-b list-block-width list-block-header">
            <div class="list-block-header-padding">
                <div data-role="fieldcontain" id="listSortSelectDiv">
                    <select id="sortList" data-native-menu="<%= UIFrame.USE_NATIVE_SELECT %>" data-mini="true" data-inline="true" data-theme="d">
                        <option class="sortCriteria" id="sortByName" translate="yes" value="sortByName"></option>
                        <option class="sortCriteria" id="sortByDistance" translate="yes" value="sortByDistance"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
