<div id="header" data-role="header" data-position="fixed">
    <div class="ui-bar-a">
        <a class="headerIcon" id="homeIcon" href=""><img src="images/home-white.png"></a>
        <h1 id="<%= pageId %>" class="ui-title"><%= Localization.getText( "appTitle" ) + " - " + Localization.getText( pageId ) %></h1>
        <p id="onlineIndicator" style="color: white; font-weight: bold; font-size: 16px; position:absolute; top: 0px; right: 140px;"></p> 
    </div>
</div>
