<div id="header" data-role="header" data-position="fixed">
    <div class="ui-bar-a" style="height: 50px;">
        <a id="btnCancel" href="" class="signature-panel-button-cancel button-default" style="margin-top: 5px;" data-role="button" data-mini="true" data-inline="true" data-theme="a">
            <%= Localization.getText( "cancel" ) %>
        </a>
        <h1 id="<%= pageId %>" translate="yes" class="ui-title" style="margin-top: 15px;">Translated Page Title Goes Here</h1>
        <a id="btnDone" href="" class="signature-panel-button-done button-default" style="margin-top: 5px;"data-role="button" data-mini="true" data-inline="true" data-theme="a">
            <%= Localization.getText( "done" ) %>
        </a>
    </div>
</div>
