<div id="customerEquipmentHeader" data-role="header" data-position="fixed">
    <div class="ui-bar-a" style="height: 50px;">
        <h1 id="<%= pageId %>" translate="yes" class="ui-title" style="margin-top: 15px;">Translated Page Title Goes Here</h1>
        <a id="btnDone" href="" class="button-default signature-panel-button-done" data-role="button" data-mini="true" data-inline="true" data-theme="a">
            <%= Localization.getText( "done" ) %>
        </a>
    </div>
</div>
<div id="customerEquipmentListHeader" class="ui-bar-d" style="padding-top: 5px;">
    <div id="customerEquipmentToolbarArea" class="ui-grid-a">
        <div class="list-block-header">
            <div class="list-block-header-padding" style="margin-top: -12px;">
                <div data-role="fieldcontain" id="buttonDiv" class="button-toolbar">
                    <a href="" id="additionalContactsButton" class="customer-equipment-button button-default" translate="yes" data-role="button" data-mini="true" data-inline="true" data-theme="d" style="margin-top: -5px;"></a>
                    <a href="" id="notesButton" class="customer-equipment-button button-default" translate="yes" data-role="button" data-mini="true" data-inline="true" data-theme="d" style="margin-top: -5px;"></a>
                </div>
            </div>
        </div>    
    </div>
</div>