<div style="text-align: center;">
    <div style="text-align: left;margin-left: 10px;margin-top: -10px;">
        <p><%= notes %></p>
    </div>
    
    <a id="btnOkay" href="" data-role="button" data-inline="true" data-theme="b" onclick="UIFrame.closeActiveDialog();EquipmentDetail.reassignNavBarContext();" 
        style="width: 90%;margin-bottom: 10px;margin-top: -20px;">
        <%= Localization.getText( "okay" ) %>
    </a>
</div>