/* CSS Document */



/* Content Columns
========================================================== */
#colContainer {}
#col1 {
	display: inline;/*# IE double-float margin bug - http://www.positioniseverything.net/explorer/doubled-margin.html */
	float: left;
	width: 485px; /*display: table; border-collapse:collapse; table-layout:fixed;*/
	padding: 10px 8px 10px 7px;
}
#col2 {
	display: inline;/*# IE double-float margin bug - http://www.positioniseverything.net/explorer/doubled-margin.html */
	float: left;
	width: 247px;
}


/* Corners 
========================================================== */
#colContainerWrapper_outside { padding-bottom: 0; }
#colContainerWrapper_tl { background: transparent url(../images/colContainer_corners.gif) no-repeat 0% 0%; }
#colContainerWrapper_tr { background: transparent url(../images/colContainer_corners.gif) no-repeat 100% 0%; height: 10px; }
#colContainerWrapper_bl { background: transparent url(../images/colContainer_corners.gif) no-repeat 0% 100%; }
#colContainerWrapper_br { background: transparent url(../images/colContainer_corners.gif) no-repeat 100% 100%; }
#colContainerWrapper_inside { margin: 10px 0px; padding: 10px; background-color: #fff000; }

.corners-1 { background-color: #fff; }
.corners-1_t { background: transparent url(../images/gfx_colContainer_t.gif) no-repeat 0% 0%; }
.corners-1_b { padding: 5px 8px; background: transparent url(../images/gfx_colContainer_b.gif) no-repeat 0% 100%; }
.corners-1_wrapper { background-color: #fff000; }

.corners-2 { background: #fff url(../images/gfx_colContainer_t.gif) no-repeat 0% 0%; }/*Top and main bg */
.corners-2_wrapper { padding: 5px 8px; padding-right: 5px; 
	background: transparent url(../images/gfx_colContainer_b.gif) no-repeat 0% 100%; }/*Bottom and inside */

.corners-col2 { background: #f7f7f6 url(../images/gfx_corners_col2_t.gif) no-repeat 100% 0%; }/*Top right and main bg */
.corners-col2_wrapper { padding: 5px 4px; 
	background: transparent url(../images/gfx_corners_col2_b.gif) no-repeat 100% 100%; }/*Bottom right and inside */

/* Content Section
========================================================== */
.section-content_bg-trail {
	height: 44px;
	width: 775px;
	overflow: hidden;
	/* Mozilla ignores crazy MS image filters, so it will skip the following */
	//filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image src='images/content-bg_t_trail.png');
}
/* IE ignores styles with [attributes], so it will skip the following. */
.section-content_bg-trail[class] {
	background: transparent url(../images/content-bg_t_trail.png) no-repeat 0% 0%; 
}



#colContainer h3 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 2.4em;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #ff773b;
}
#colContainer p {
	padding: 0.9em 0 0;
	font-size: 1.2em;
	font-family: "Times New Roman", Times, serif;
	color: #716862;
}

/* Lists 
========================================================== */
.list_basic {
	display: block;
	margin: 0;
	padding: 1.0em 0 0.4em; 
	font-size: 1.1em;
	color: #73807F;
	list-style: disc;
	}
	.list_basic li {
		margin-left: 3.0em;
		padding-left: 0.2em;
		padding-bottom: 0.6em;
		}


/* Menu List
------------------------------------------------ */
/* Define common vetical list attributes. */
#additional-links { 
	margin-top: 15px;
	padding-top: 5px;
	background-color: #fff;
	background-image: url(../images/gfx_col2_box-bg.gif);
	background-repeat: repeat-x;
	background-position: 0% 100%;
}
	#additional-links ul,
	#additional-links ul li {
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		text-align: left;
		background: transparent;
		font-size: 1.0em;
		font-family: Georgia, "Times New Roman", Times, serif;
		/*line-height: 1%; Helps with rollover heights in IE */
	}
	#additional-links ul {
		width: 225px;
		padding-left: 10px;
	}
	#additional-links ul li {
		background-image: url(../images/gfx_bullet_1.gif);
		background-repeat: no-repeat;
		background-position: 0 0.3em;
		padding-left: 8px;
		padding-bottom: 0.5em;
	}
		#additional-links ul a {
			display: block;
			margin: 0;
			padding: 0;
			border: 0;
			text-decoration: none;
			font-size: 1.2em;
			font-family: "Times New Roman", Times, serif;
			color: #807772;
			}
		#additional-links ul li a:hover,
		#additional-links ul li a.active { text-decoration: underline; }

		
/* Define common horizonal list attributes. */
#footer-menu { margin: 0; padding: 0; }
	#footer-menu ul { overflow: hidden; margin: 0; padding: 0; list-style: none; }
		#footer-menu ul li { float: left; display: inline; margin: 0; padding: 0; }
			#footer-menu ul li a { float: left; display: block; overflow: hidden; margin: 0; padding: 0;
				font: 1.2em "Times New Roman", Times, serif; /*"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif*/
			}
		
		/* Define shared list attributes. */
		#footer-menu { clear: both; }
		
		/* Define individual link attributes. */
		/* Thanks to http://css.maxdesign.com.au/listutorial/horizontal_master.htm
		Center the horizontal menu items*/
		#footer-menu { padding: 1.0em 0; }
		#footer-menu { text-align: center; }
		#footer-menu ul { text-align: center; margin-bottom: 0.5em; }
		#footer-menu ul li { float: none; }
		#footer-menu ul li { color: #796f6a; text-align: left; } 
		#footer-menu ul li a { float: none; display: inline; }
		#footer-menu ul li a { color: #796f6a; text-decoration: none; padding: 0.4em 0.6em;}
		#footer-menu ul li a:hover,
		#footer-menu ul li a.active { color: #ff773b;  }