/*<![CDATA[*/

/* External Style Sheets - styles hidden from older browsers
========================================================== */
/* @import "[url]/global_style.css"; */
@import "common/page-properties.css";/* Page Properties */
@import "common/utility-methods.css";/* Methods - Accessible handling, float clearing, and others */
@import "common/font_base-size.css";/* Base Font Size */

/* Document Setup
========================================================== */
* { margin: 0; padding: 0; }/* Default all margins and padding. */
body { background: #f6f6f6 url(../images/body_bg.gif) repeat-x 0px 0px; }

/* Default Font Family
------------------------------------------------ */
/*html, body, div, table, h1, h2, h3, h4, h5, h6, p, * { font-family: Arial, Helvetica, sans-serif; }*/
html, body, div, table, h1, h2, h3, h4, h5, h6, p { font-family: Arial, Helvetica, sans-serif; }
select, input, textarea { font-family: Arial, Helvetica, sans-serif; }

/* Default Link Style
------------------------------------------------ */
a, a:link{ /*, a:visited, a:hover, a:active */
	text-decoration: underline;
	color: #0033FF;
	}
	a:hover {/*, a:active */
		color: #0099ff;
	}
	/*
	Removes focus outline from links used by mouse, tab remains.
	Resources:
	http://sonspring.com/journal/removing-dotted-links
	http://www.maratz.com/blog/archives/2006/01/20/outline-property-for-image-replaced-link/
	*/
	a:active, a:focus { 
		outline: none;
		/* -moz-outline-style: none; */
	}


/* Body Containers and Wrappers
========================================================== */
#bodyWrapper {
	position: relative;
	text-align: center;/* Align content inside the wrapper. */
}
* html #bodyWrapper {overflow: visible;}

	#contentContainer {
		width: 775px;
		/* Center content */
		margin: 0 auto; /* Brings in the div margins, keeping only the width. */
		margin-left: auto; margin-right: auto; /* IE5/Mac will ignore the above, but understand these. */
		text-align: left; /* Now counter the centering of content. */
	}


/* Header and Footer
========================================================== */
#footer {
	padding: 5px 5px 20px;
	color: #8F8F8F;
	float: right;
	text-align: right;
	font-style: italic;
}
	#footer a
	,#footer a:link
	,#footer a:visited{ /*, a:visited, a:hover, a:active */
		text-decoration: underline;
		color: #8F8F8F;
	}
		#footer a:hover
		,#footer a:active {/*, a:active */
			color: #444;
		}

#contact-us-content-wrapper 
	,#contact-us-content-wrapper p
	,#contact-us-content-wrapper TABLE
	,#contact-us-content-wrapper TR
	,#contact-us-content-wrapper TD{
	font: normal 700 1.0/1.4 Arial, Helvetica, sans-serif;
	color: #f6f6f6;
	padding: 0px 0px 3px;
	font-size: 1.1em;
}

#footer-contact-us {
	font: normal 700 1.0em/1.4em Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	padding: 5px 5px 20px;
	color: #8F8F8F;
	float: left;
	text-align: left; 

}
	#footer-contact-us a
	,#footer-contact-us a:link
	,#footer-contact-us a:visited{ /*, a:visited, a:hover, a:active */
		text-decoration: none;
		color: #8F8F8F; 
	}
		#footer-contact-us a:hover
		,#footer-contact-us a:active {/*, a:active */
			text-decoration: none;
			color: #8F8F8F;
			border-bottom: solid 1px #8F8F8F;
		}

#header-contact-us {
	padding: 0 0 12px;
	font: normal 400 0.6em/0.6em "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	float: right;
	text-align: right; 

}
	#header-contact-us a
	,#header-contact-us a:link
	,#header-contact-us a:visited{ /*, a:visited, a:hover, a:active */
		text-decoration: none;
		color: #fff; 
	}
		#header-contact-us a:hover
		,#header-contact-us a:active {/*, a:active */
			text-decoration: none;
			color: #fff;
			border-bottom: solid 1px #fff;
		}

#mission_statement {
	padding: 5px 5px 20px;
	color: #8F8F8F;
	text-align: center;
	font-style: italic;
}

/* Logo and Menu Tabs
========================================================== */
.logo-wrapper {
	float: left;
	margin-top: 18px;
}
.menu-tab_top-wrapper {
	padding-top: 40px;
	float: left;
	height: 114px;
}
/*  Home page-specific
------------------------------------------------ */
.menu-tab_left-wrapper {
	float: left;
	width: 234px;
	text-align: right;
	line-height: 0.1em;
	font-size: 0.1em;
}
.main_focal-image-wrapper {
	float: left;
	width: 541px;
	margin-top: 5px;
	overflow: visible;
}
/*  Section page-specific
------------------------------------------------ */
.menu-tab_content_left-wrapper {
	text-align: right;
	line-height: 0.1em;
	font-size: 0.1em;
}


/* Content Sections
========================================================== */
.section-content_bg-trail {
	width: 775px;
	overflow: hidden;
	background: transparent url(../images/content_bg_t_trail.gif) no-repeat 0% 0%; 
}
	.section-content_trail-wrapper {
		padding: 18px 30px 0;
		font: normal 700 1.8em/normal "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
		color: #0a0809;
		text-align: left;
		float: left;
	}
	.section-content_trail {
		padding: 0 0 12px;
		font: normal 400 0.6em/0.6em "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
		color: #fff;
		text-align: left;
		float: left;
	}
		.section-content_trail a
		,.section-content_trail a:link
		,.section-content_trail a:visited{ /*, a:visited, a:hover, a:active */
			font: normal 400 1.0em/1.0em "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none;
			color: #fff;
		}
			.section-content_trail a:hover
			,.section-content_trail a:active {/*, a:active */
				text-decoration: none;
				color: #0a0809;
				border-bottom: solid 1px #0a0809; 
			}

.section-content_bg-links {
	width: 775px;
	background:transparent url(../images/content_bg_t_links.gif) no-repeat 0% 0%; 
	
	padding: 0.6em 0;
	font: normal 400 1.3em/1.2em Arial, Helvetica, sans-serif;
	color: #b9ce44;
	text-align: left;
}	
	.section-content_bg-links a
	,.section-content_bg-links a:link
	,.section-content_bg-links a:visited{ /*, a:visited, a:hover, a:active */
		font: normal 700 1.0em/1.4em Arial, Helvetica, sans-serif;
		text-decoration: none;
		color: #f6f6f6; 
	}
		.section-content_bg-links a:hover
		,.section-content_bg-links a:active {/*, a:active */
			text-decoration: none;
			color: #d8ff00;
			border-bottom: solid 1px #d8ff00; 
		}

.section-content_bg-lr {
	padding-top: 10px;
	width: 775px;
	background: transparent url(../images/content_bg_lr.gif) repeat-y 0% 0%;
}		
	.section-content_bg-lr a
	,.section-content_bg-lr a:link
	,.section-content_bg-lr a:visited{ /*, a:visited, a:hover, a:active */
		text-decoration: none;
		color: #d8ff00;
	}
		.section-content_bg-lr a:hover
		,.section-content_bg-lr a:active {/*, a:active */
			text-decoration: none;
			color: #ffcc00;
			border-bottom: solid 1px #ffcc00; 
		}

.section-content_bg-b {
	height: 28px;
	width: 775px;
	background: transparent url(../images/content_bg_b.gif) no-repeat 0% 100%; 
}

.section-content_wrapper {
	padding: 0 30px;
}
	.section-content_wrapper_custom_header{
		font: normal 700 1.5em/1.7em Arial, Helvetica, sans-serif;
	}
	.section-content_wrapper_custom{
		font: normal 700 1.0em/1.4em Arial, Helvetica, sans-serif;
	}


/* Headings and Text
------------------------------------------------ */
h1
,h2
,h3 {
	margin-bottom: 5px;
	font: normal 700 1.8em/1.0em "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	color: #d8ff00;
}
h2 {
	font-size: 1.4em;
	font-weight: 400;
}
h3{
	font-size: 1.3em;
	font-weight: 700;
	color: #fff;
}

p
,ol
,ul {
	margin: 0;
	padding: 0 0 0.8em;
	font: normal 400 1.3em/1.2em Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: left;
}
/* Menu List
------------------------------------------------ */
ol
,ul {
	display: block;
	margin: 0;
	padding: 0.2em 0; 
	list-style: disc;
	}
	ol li
	,ul li {
		margin-left: 3.0em;
		padding-left: 0.2em;
		padding-bottom: 0.6em;
		}

/* Auxiliary styles
------------------------------------------------ */
.attention_letter {
	text-decoration: underline; font-weight: 700;
}

.content-section_divider {
	margin: 1.1em 0 0.6em;
	padding-top: 2px;
	border-top: solid 1px #ababab;
	font-size: 1.1em;
	text-align: right;
}
	.content-section_divider a
	,.content-section_divider a:link
	,.content-section_divider a:visited{ /*, a:visited, a:hover, a:active */
		font: normal 700 1.0em/1.0em Arial, Helvetica, sans-serif;
		text-decoration: none;
		color: #b9ce44;
	}
		.content-section_divider a:hover
		,.content-section_divider a:active {/*, a:active */
			text-decoration: none;
			color: #ffcc00;
			border-bottom: solid 1px #ffcc00; 
		}

/*]]>*/